body {
    background-color: #ccc;
    font: 20px/100% 'Rosario', Arial, sans-serif;
    color: #000;
    text-shadow: #fff 0 1px 0;
    text-align: center;
}

#content {
    padding-top: 30px;
    width: 900px;
    margin: 0 auto;
}

h1.title {
    font-size: 50px;
    color: #686565;
    margin-bottom: 0px;
    padding-bottom: 25px;
    border-bottom: 5px solid #686565;
}
h1.title span {
    font-size: 35px;
}

h1 {
    margin-bottom: 50px;
}
strong {
    background-color: yellow;
    font-style: normal;
    text-shadow: none;
}
.messages {
    display: none;
    padding: 10px;
    color: red;
    text-shadow: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

fieldset section {
    padding: 20px;
    margin: 10px;
    margin-top: 5px;
    background-color: #73DF64;
    border-radius: 10px;
}

fieldset p {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 12px;
}

#credit {
    clear: both;
    font-size: 1.2em;
    margin: 0;
    padding: 10px;
    width: 580px;
    border-radius: 10px;
    border: 3px solid #000;
    box-shadow: inset 0 1px 2px #666;
    letter-spacing: 1px;
}

#credit:focus {
    color: red;
}

button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 5px 0 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    padding: .3em 1em .33em;
    text-shadow: 0 1px 1px #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px #666;
    color: #000;
    border: 2px solid #000;
    background: #ff9;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9), to(#ff0));
    background: -moz-linear-gradient(top,  #ff9,  #ff0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9', endColorstr='#ff0');
}

button:hover {
    background: #f6931e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0), to(#ff0));
    background: -moz-linear-gradient(top,  #ff0,  #ff0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0', endColorstr='#ff0');
    text-decoration: none;
}

button:active {
    color: red;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0), to(#ff0));
    background: -moz-linear-gradient(top,  #ff0,  #ff0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0', endColorstr='#ff0');
    position: relative;
    top: 1px;
}
.testimonials {
    margin-top: 50px;
}
.testimonials div {
    float: left;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}
.testimonials h3 {
    font-style: italic;
    font-size: 20px;
}
.testimonials p.pointer {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    margin-top: -5px;
    margin-left: 20px;
    background-color: #B6BEDF;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);

}
.testimonials p.testiment {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 0;
    background-color: #B6BEDF;
    border: 1px solid #999;
    border-radius: 5px;
}

.testimonials p.testiment span {
    text-decoration: underline;
}
.testimonials p.testiment strong {
    background-color: inherit;
}
.testimonials p.person {
    font-size: 15px;
    text-align: left;
    font-style: italic;
}

.footer h3 {
    color: #949393;
}
