<!DOCTYPE html>
<html>
    <head>
        <!--
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        THIS IS A FAKE SITE.
        DO NOT BE FOOLED.
        NO CREDIT CARD INFORMATION IS STORED.
        ALL LOGS FOR THIS SITE ARE PURGED EVERY HOUR.
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        -->
        <meta charset="utf-8">
        <title>Online service to check if your credit card has been stolen</title>
        <link href='https://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Miniver' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/cardr.min.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/gh-fork-ribbon.css" type="text/css" />
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wtf" style="display: none;">
            <!-- TOP RIGHT RIBBON: START COPYING HERE -->
            <div class="github-fork-ribbon-wrapper right">
                <div class="github-fork-ribbon">
                    <a href="https://github.com/xzela/cardr">Fork me on GitHub</a>
                </div>
            </div>
            <!-- TOP RIGHT RIBBON: END COPYING HERE -->
            <header>
              <img src="assets/img/srsly.png">
              <h1><strong>Dude. Really?</strong></h1>
              <h2>You just offered your credit card info to an unknown party via a strange website. <strong>That's really dumb.</strong></h2>
            </header>
            <section>
              <p id="sub">Fortunately, we're not thieves and we didn't store anything. In the future, never input personal details into a website with vague or suspicious intentions. Use common sense and stay skeptical when shopping online. Visit the following resources to learn more about staying safe online:</p>
              <ul id="resources">
                <li><a href="http://idtheft.about.com/od/preventionpractices/a/OnlineShopping.htm">Five Tips for Online Shopping Safety</a></li>
                <li><a href="https://creditcards.citi.com/resources/safe-online-shopping/">Safe Online Shopping</a></li>
                <li><a href="http://www.immihelp.com/newcomer/credit-card-safety-tips.html">8 Tips to Keep Your Credit Card Information Safe When Shopping Online</a></li>
              </ul>

            </section>

            <div class="clear"></div>
            <div class='footer'>
                <h3>Cardr.org &copy; 2013</h3>
            </div>
        </div>
        <div id="content">
            <header>
              <h1><strong>Has your credit card number been stolen?</strong></h1>
              <h2>Every day, <span>23</span> million credit cards are skimmed or stolen.</h2>
            </header>
            <section>
              <p id="sub"><a href="http://cardr.org/" target="_blank">Cardr.org</a> verifies the integrity of your credit account by comparing your card number to those found on illegal number swapping hubs. <strong>Submit your credit card number to begin:</strong></p>
              <form method="post">

                <fieldset>
                  <section>
                    <form class="form-inline">
                      <input id="credit" type="text" placeholder="1234-5678-9123-4567" >
                      <button type="submit" class="btn">Continue</button>
                      <div class="messages"></div>
                    </form>
                  </section>
                </fieldset>
              </form>
            </section>
            <section class="testimonials">
                <h2><strong>Don't Believe Us? Read These Testimonials about Cardr!</strong></h2>
                <div>
                    <p class="testiment">
                        Before using Cardr.org, I was always worried about my credit card numbers.
                        I wouldn't use them to make purchases, online or <i>off</i>.
                        But now that I do, <strong>Cardr saves me from lots of trouble.</strong>
                    </p>
                    <p class="pointer">&nbsp;</p>
                    <p class="person">John Richardson, Texas</p>
                </div>
                <div>
                    <p class="testiment">
                        People have no idea how often their credit card numbers are stolen.
                        You could be walking to work one day and then <strong>BLAM!</strong> your credit card number is gone, just like that!
                        I always tell people <strong>for the love of God use Cardr!</strong>
                    </p>
                    <p class="pointer">&nbsp;</p>
                    <p class='person'>Joe Pritchards, Nevada</p>
                </div>
                <div>
                    <p class="testiment">Without Cardr, I'd be out on the streets!</p>
                    <p class="pointer">&nbsp;</p>
                    <p class='person'>Sally Bachmann, New York</p>
                </div>
            </section>
            <div class="clear"></div>
            <div class='footer'>
                <h3>Cardr.org &copy; 2013</h3>
            </div>
        </div>
        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/cardr.js"></script>
    </body>
</html>
